.container {
/*   background-color: gray; */
  background-color: var(--darkGrey, #d7d7d7);
  max-width: 650px;
  width: 90%;
  margin-right: auto;
  margin-left: auto;
  margin-top: 4vh;
  padding-bottom: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.flex{
  display: flex;
}

.postBar{
  background-color: grey;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 10px;
  font-size: 14px;
}


.title {
   text-align: left;
   word-break: break-all;
}

.title > h1 {
  font-size: 25px;
}

.title > h3,h4{
  font-size: 18px;
}

.commentCard{
  padding: 0.5rem 0 0.5rem;
  font-size: 16px;
}

.commenter{
  display: flex;
  justify-content: space-between;
   background-color: gray;
}

/* edit pen */
.commenter > div:last-child > div:last-child{
padding-left: 10px;
}

.commenter > div:first-child{
  text-decoration: underline;
}

.commentCard>div{
  padding: 10px;
}

.commentText{
  background-color: rgb(192, 189, 189);
  text-align: left;
  word-break: break-word;
  
}

.postContainer {
  width: 95%;
}

.createComment{
  text-align: center;
}

.commentBtn{
  background-color: lightgray;
  border-radius: 3px;
  padding: 5px;

}

.form{
  background-color: white;
  padding: 5px;
}

.writeCommentBar {
  display: flex;
  justify-content: space-between;
  margin-top: -6px;
}

.textAreaComment{
  width: 100%;
  border: none;
}
