.container {
  background-color: var(--darkGrey, #d7d7d7);
  width: 80%;
  padding: 5px;
  margin-right: auto;
  margin-left: auto;
  margin-top: 4vh;
  padding-top: 20px;
  padding-bottom: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container > h1 {
  text-align: center;
}

.container > h2 {
  width: 100%;
}

.left {
  width: 100%;
  margin-top: 10px;
  border-top: black solid 1px;
  padding: 10px 0px;
}
.right {
  width: 100%;
  text-align: right;
}

.pContain {
  width: 95%;
}

.desc {
  text-align: left;
  width: 80%;
}

.createCont {
  text-align: right;
}

